<div>Edit {{user.fullname}} {{message}}</div>
<form name="editForm" class="form-horizontal">
    <div class="form-group">
        <label for="firstName" class="control-label">First Name</label>
        <input name="firstName" type="text" ng-model="user.firstName" placeholder="{{user.firstName}}"/>
    </div>
    <div class="form-group">
        <label for="lastName" class="control-label">Last Name</label>
        <input name="lastName" type="text" ng-model="user.lastName" />
    </div>
    <div class="form-group">
        <label for="middleName" class="control-label">Middle Name</label>
        <div>
            <input name="middleName" type="text" ng-model="user.middleName" />
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="control-label">Registeration Number</label>
        <input name="username" type="text" ng-model="user.username" />
    </div>
    <div class="form-group">
        <label for="gender" class="control-label">Gender</label>
        <select name="gender" ng-model="user.gender">
            <option value="">Select Gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
    </div>
    <div class="form-group">
        <label for="dob" class="control-label">Date of Birth</label>
        <input name="dob" class="form-control" type="text" ng-model="user.dob" />
    </div>
    <button class="btn btn-default" ng-click="editSubmit()">Go</button>
</form>